name: ROM Build CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: |
          sudo apt-get install -y make build-essential
          git clone https://github.com/cc65/cc65.git
          cd cc65
          make -j4
          sudo make install
          cd ..
          git clone https://github.com/emmanuel-marty/lzsa
          cd lzsa
          make
          cp -av lzsa /usr/local/bin
      - name: Build ROM
        if: startsWith(github.ref, 'refs/tags/r') != true
        run: |
          make
      - name: Build Release ROM
        if: startsWith(github.ref, 'refs/tags/r')
        run: |
          RELEASE_VERSION=$(echo "$GITHUB_REF_NAME" | grep -oP '[0-9]+$') make
      - name: Archive Build Result
        run: |
          mkdir artifact
          cp build/x16/*.h artifact/.
          cp build/x16/*.sym artifact/.
          cp build/x16/rom.bin artifact/.
      - name: Upload Artifacts (non-release)
        if: startsWith(github.ref, 'refs/tags/r') != true
        uses: actions/upload-artifact@v3
        with:
          name: ROM Image
          path: artifact
      - name: Upload Artifacts (release)
        if: startsWith(github.ref, 'refs/tags/r')
        uses: actions/upload-artifact@v3
        with:
          name: Release ROM Image
          path: artifact
